:root {
    --black: var(--background-primary);
    --red: #f07178;
    --orange: #fe9270;
    --green: #c0e58b;
    --yellow: #fdcb6b;
    --blue: #80a8fc;
    --magenta: #c792e9;
    --cyan: #8be4ff;
    --white: var(--foreground);
    --grey: #464b5c;
}

/* Syntax element styles */

/* Comment */
.hljs-comment,
.hljs-quote {
    color: var(--grey);
}

/* Red */

/* .hljs-variable, */
/* .hljs-template-variable, */

.hljs-name,
.hljs-selector-class,
.hljs-regexp,
.hljs-built_in,
.hljs-deletion {
    color: var(--red);
}

/* Orange */
.hljs-number,
.hljs-literal,
.hljs-params,
.hljs-meta,
.hljs-selector-id,
.hljs-link {
    color: var(--orange);
}

/* Yellow */
/* .hljs-attribute */
/* None right now */

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    color: var(--green);
}

/* Blue */
.hljs-title,
.hljs-section {
    color: var(--blue);
}

/* Purple */
.hljs-keyword,
.hljs-type,
.hljs-selector-tag {
    color: var(--magenta);
}

/* Cyan */
.hljs-tag {
    color: var(--cyan);
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}
