:root {
    /* Colors */
    --background-primary: #030c1d;
    --background-secondary: #01344d;
    --foreground: #c6c8d1;
    --highlight: #b6e4fc;

    /* Fonts */
    --fancy-font: "Yeseva One", serif;
    --reddit-font: "Inconsolata", monospace;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}

section {
    width: 100vw;
    box-sizing: border-box;
    padding: 0 1.5em 0em 1.5em; /* For small screens */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section > div:first-child {
    max-width: 50em;
    width: 100%;
    margin: 0 auto;
}

/* A simple CSS reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1 {
    font-family: var(--fancy-font);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--foreground);
    font-size: 6em;
}

h2 {
    font-family: var(--fancy-font);
    color: var(--foreground);
    font-size: 1.5em;
}

p {
    font-family: var(--reddit-font);
    color: var(--foreground);
    font-size: 1em;
}

#landing {
    height: 100vh;
}

#subheading {
    pointer-events: auto;
    line-height: 2.5rem;
    /* Extra room for links */
}

#projects {
    margin-top: 5em;
    /* Add some room to breath */
}

#projects-container {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    gap: 5em;
}

/* Needed to display emojis properly in Chrome for some reason */
.emoji {
    font-family:
        apple color emoji,
        segoe ui emoji,
        noto color emoji,
        android emoji,
        emojisymbols,
        emojione mozilla,
        twemoji mozilla,
        segoe ui symbol;
}

footer {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
}
