:root {
    --background-primary: #030c1d;
    --background-secondary: #030c1d;
    --foreground: #c6c8d1;
    --fancy-font: "Yeseva One", serif;
    --mono-font: "Lucida Console",monospace;
}

html, body {
    /* Remove default padding */
    margin: 0;
    padding: 0;
    background-color: --var(background-primary);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.title {
    font-family: var(--fancy-font);
    font-size: 6em;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--foreground);
}

.landing-text {
    position: relative;
    left: 2em;
    top: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    pointer-events: none;
    /* Passes through the mouse events */
}

.subheading {
    /* Enable pointer events for the name text */
    pointer-events: auto;
    width: 30rem;
    font-family: var(--mono-font);
    font-weight: normal;
    font-size: 1rem;
    color: var(--foreground);
    /*Increase line height to avoid "link" borders overlapping */
    line-height: 2.5rem;
}

.arrow-container {
    position: fixed;
    /* Changed from absolute to fixed */
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

section {
    height: 100vh;
    width: 100vw;
    /* Each section takes up the entire viewport height */
}

