@import './styles/code-block.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css');

:root {
    /* Colors */
    --background-primary: #030c1d;
    --background-secondary: #01344d;
    --foreground: #c6c8d1;
    --highlight: #b6e4fc;

    /* Fonts */
    --serif-font: 'Yeseva One', serif;
    --mono-font: 'Inconsolata', monospace;
    --sans-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    /* Sizes */
    --size-1: 6rem;
    --size-2: 3rem;
    --size-3: 2rem;
    --size-4: 1.2rem;
    --size-5: 0.75rem;
}

/* A simple CSS reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-primary);
    overflow-x: hidden;
    overscroll-behavior-y: contain;
    scroll-behavior: smooth;
}

h1 {
    font-family: var(--serif-font);
    color: var(--foreground);
    font-size: var(--size-2);
}

h2 {
    font-family: var(--serif-font);
    color: var(--foreground);
    font-size: var(--size-3);
}

h3 {
    font-family: var(--serif-font);
    color: var(--foreground);
    font-size: var(--size-3);
}

p {
    font-family: var(--mono-font);
    color: var(--foreground);
    font-size: var(--size-4);
}

/* FIXME: add blog styling here, as dynamically loading stuff doesn't apply css */
.prose {
    --rounding: 0.5em;

    /* Created using: https: //codepen.io/sosuke/pen/Pjoqqp */
    .svg-filter {
        filter: invert(92%) sepia(6%) saturate(274%) hue-rotate(190deg)
            brightness(90%) contrast(83%);
    }

    p {
        font-family: var(--sans-font);
    }

    /* Links */
    a {
        color: var(--highlight);
        text-decoration: none;
        transition: color 0.3s ease;
    }

    a:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
    }

    /* Lists */
    ul,
    ol {
        margin-left: var(--size-3);
    }

    /* Code blocks */
    pre {
        background-color: var(--background-primary);
        border: 2px solid var(--foreground);
        padding: 1em;
        border-radius: var(--rounding);
        overflow-x: auto;
        color: var(--foreground);
        /* font-family: 'Courier New', monospace; */
    }

    code {
        font-family: var(--mono-font);
        font-size: var(--size-4);
    }

    /* Images */
    img {
        max-width: 100%;
        height: auto;
        display: block;
        border-radius: var(--rounding);
        margin: var(--spacing-medium) 0;
    }

    /* Blockquote */
    blockquote {
        --blockquote-left: 0.25em;
        background-color: var(--background-secondary);
        color: var(--highlight);
        padding: 1em;
        border-radius: var(--blockquote-left);
        border-left: var(--blockquote-left) solid var(--highlight);
        font-style: italic;
    }

    /* Footer / Small print */
    footer {
        margin-top: var(--spacing-large);
        text-align: center;
        font-size: 0.875rem;
        color: var(--foreground);
    }

    /* Responsive Design -- TODO: change size-1 and others here */
    @media (max-width: 768px) {
        h1 {
            font-size: 2.5rem;
        }

        h2 {
            font-size: 2rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        p,
        li {
            font-size: 1rem;
        }

        article {
            padding: var(--spacing-small);
        }
    }

    @media (max-width: 480px) {
        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.8rem;
        }

        h3 {
            font-size: 1.2rem;
        }

        p li {
            font-size: 0.95rem;
        }
    }
}

.prose > * {
    margin-bottom: var(--size-3);
}
